body, html{
   height:100%;
   margin:0;
    font-size:16px;
    font-family:"lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
   
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11 {
  position:relative;
  opacity:0.70;
  backgrounnd-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed
}

.pimg1{
    background-image:url(https://media3.picsearch.com/is?2vJUrfRKfxRoNDkSmLRyCwfgcp-m4f49KPNdMk4piW0&height=212);
    min-height:100%;
}

.pimg2{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-0/p350x350/100791870_2916524788401414_2480169491170852864_o.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=sduUUI7XOvAAX_agG4-&_nc_ht=scontent.fktm1-1.fna&_nc_tp=6&oh=89fdd2971636c72f936271faffaa82d5&oe=5EF05D19);
    min-height:400px;
}

.pimg3{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/97224960_2916483728405520_6404739941435179008_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=j1zrEkKEY7oAX_z1_Jf&_nc_ht=scontent.fktm1-1.fna&oh=e0a8042bf07aa4948ff3d59b524e886c&oe=5EEF8A4B);
    min-height:600px;
}

.pimg4{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/99420124_2916483498405543_3159085975355785216_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=EJqFMmsipDQAX_-NRYS&_nc_ht=scontent.fktm1-1.fna&oh=bdac6b8d4a7cbba2d0799a79ef246f8e&oe=5EECDA8D);
    min-height:600px;
}
  
  .pimg5{
    background-image:url(https://scontent.fktm1-2.fna.fbcdn.net/v/t1.0-9/99284468_2916483578405535_5192822023021133824_n.jpg?_nc_cat=101&_nc_sid=110474&_nc_ohc=y_Rw7CCa_Y4AX9OAZ2u&_nc_ht=scontent.fktm1-2.fna&oh=37b20fc208017a58ddef47b6023f5175&oe=5EECEBC9);
    min-height:400px;
  }
    
     .pimg6{
    background-image:url(https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/98207126_2916483435072216_3527722889522446336_n.jpg?_nc_cat=107&_nc_sid=110474&_nc_ohc=ZSezTO8j-r0AX_dxpUh&_nc_ht=scontent-gmp1-1.xx&oh=2ebe64a62f958d9b71915e58a7673e8d&oe=5EEE675E);
    min-height:400px;
}
    
     .pimg7{
    background-image:url(https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/99094334_2916483391738887_3389617318471401472_n.jpg?_nc_cat=107&_nc_sid=110474&_nc_ohc=v6SDlBnvppQAX9YlAon&_nc_ht=scontent-gmp1-1.xx&oh=d7ec1b1cbe36d0440ec173dbc0446c84&oe=5EF09681);
    min-height:400px;
    }
    
    .pimg8{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/101037703_2916483335072226_6226853343906496512_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=R6DPLXNLdOQAX8ROH79&_nc_ht=scontent.fktm1-1.fna&oh=d41893aa32b03c0e598b1475b341b978&oe=5EECFE3F);
    min-height:400px;
    }
    
    .pimg9{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/100547332_2916483275072232_2946950995076186112_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=2724uemsnhQAX8MDneE&_nc_ht=scontent.fktm1-1.fna&oh=8b5843f305aaf8ae7e0ce6b8850ed49d&oe=5EEF8460);
    min-height:400px;
    }
    
    .pimg10{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/100609621_2916483818405511_6061424548127965184_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=CXO2hs-T30oAX-IDdUU&_nc_ht=scontent.fktm1-1.fna&oh=abdcae410acd0fef02d19704874ef035&oe=5EF05140);
    min-height:400px;
    }
    
    .pimg11{
    background-image:url(https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/99339007_2916483875072172_8931477349224939520_n.jpg?_nc_cat=108&_nc_sid=110474&_nc_ohc=tWNhtZhkIgQAX_KMXai&_nc_ht=scontent.fktm1-1.fna&oh=e9aefa815eba5bb6671c220a4342c56c&oe=5EEE6600);
    min-height:400px;
    }
    
.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#FFFAF0;
  font-size:27px;
  letter-spacing:7px;
  text-transform:uppercase;
}
.ptext .border{
  background-color:#111;
  coor:#fff;
  padding:20px;
}